<main class="form-signin center">
    <form #loginForm="ngForm" (ngSubmit)="login()">
        <h1 class="h3 mb-3 text-center">Log in</h1>

        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" name="username" placeholder="username"
                [(ngModel)]="model.username" required>
            <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password"
                [(ngModel)]="model.password" required>
            <label for="floatingPassword">Password</label>
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit" [disabled]="!loginForm.valid || httpLoading">Log
            in</button>
        <p class="mt-5 mb-3 text-warning">{{ errorMsg }}</p>
    </form>
</main>