<div class="container">
    <div class="row">
        <div class="col-md-2 col-12"></div>
        <div class="col-md-8 col-12">
            <div class="card">
                <div class="card-header">
                    Admin Menu
                </div>
                <div class="card-body icons-box">
                    <div class="row">
                        <div class="infont col-md-3 col-sm-4"><a [routerLink]="['/admin/manage-list','category']"
                                routerLinkActive="router-link-active"><i class="fa fa-table"></i>Categories</a></div>
                        <div class="infont col-md-3 col-sm-4"><a [routerLink]="['/admin/manage-list','device']"
                                routerLinkActive="router-link-active"><i class="fa fa-tablet"></i>Devices</a></div>
                        <div class="infont col-md-3 col-sm-4"><a [routerLink]="['/admin/manage-list','threat']"
                                routerLinkActive="router-link-active"><i class="fa fa-user-secret"></i>Threats</a></div>
                        <div class="infont col-md-3 col-sm-4"><a [routerLink]="['/admin/manage-list','mitigation']"
                                routerLinkActive="router-link"><i class="fa fa-shield"></i>Mitigations</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>